*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    margin: 20px;
    font-family: sans-serif;
}

.square{
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    width: 50px;
    text-align: center;
    float: left;
    margin-top: -1px;
    margin-left: -1px;
}

.board-row:after{
    clear: both;
    content: '';
    display: table;
}

.status{
    margin: 10px 0;
    font-size: 24px;
}

.game{
    display: flex;
}

.game-info{
    margin-top: 10px;
    margin-left: 50px;
}